<mat-drawer-container class="example-container">
  <mat-drawer class="drawer-configuration" mode="side" opened>
    <div class="parent-container">
      <span class="parent-label">Service Catalog</span>
    </div>
    <div class="child-container">
      <div class="Icon-configuration"><mat-icon>list</mat-icon></div>
      <div class="child-label">Tasks</div>
    </div>
    <div class="child-container">
      <div class="Icon-configuration"><mat-icon>list</mat-icon></div>
      <span class="child-label">Assigned to me</span>
    </div>

  </mat-drawer>
  <mat-drawer-content class="drawer-content-configuration">
      <div class="parent-drawer-container">
      </div>

  </mat-drawer-content>
</mat-drawer-container>