<mat-toolbar class="mat-toolbar">
  <span class="label-Decorator">Studio</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon class="label-Decorator" routerLink="/login">face</mat-icon>
  </button>
  <button mat-raised-button  routerLink="/admin">Admin</button>
  <button mat-raised-button  routerLink="/staff-home">Staff</button>
  <button mat-raised-button  routerLink="/front-desk-home">Front-Desk</button>
</mat-toolbar>
