.example-form {
  width: 100%;
}

.parent-drawer-container {
  background-color: lightgray;
  height: 65px;
  width: 210%;
}
.backButton:hover {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #293e40;
  }
  .backButton {
    margin-right: 10px;
    margin-left: 10px;
    background-color: #213234;
  }
  